  /* ------FOOTER------- */
  
  footer {
    text-align: center;
    grid-area: footer;
    background: linear-gradient(to right, rgb(32, 32, 148), rgb(57, 57, 85));
    height: 7rem;

    .navFooter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 12rem;
        margin-right: 12rem;
      }
    
      .textoFooter {
        color: yellow;
        margin: 2rem;
      }
  }
