  /* -------GRID----------- */
  
  .gridPadreInicio {
    display: grid;
    grid-template-areas: "div2I parrafoInicio";
  }
  
  .gridPadreContacto {
    display: grid;
    grid-template-areas: "divContacto1 divContacto2";
  }
  
  .gridPadreMusica {
    display: grid;
    grid-template-areas: "imagenM tituloPrincipalMusica" "imagenM subtituloMusica";
  }