/* -----------------IMAGENES----------------------- */
  
.imgInicio {
    grid-area: imgI;
    align-items: center;
  }
  
  .imgContacto {
    width: 45rem;
    height: 27rem;
    margin: 0.625rem;
  }
  
  .imagenM {
    grid-area: imagenM;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  