/*-----Media----*/

@media (min-width: 350px) and (max-width: 1024px) {
    html {
      font-size: 80%;
    }
  
    .gridPadreInicio {
      display: grid;
      grid-template-areas: 
      "div2I"
      "parrafoInicio" ;
    }
  
    .gridPadreContacto {
      display: grid;
      grid-template-areas:
      "divContacto1" 
      "divContacto2";
    }
  }