@font-face {
    font-family: Titulos;
    src: url('../Fuentes/adrip1.ttf');
    font-weight: bold;
  }

@import "variables";
@import "mixin";
@import "imagenes";
@import "header";
@import "mains";
@import "footer";
@import "Tour";
@import "grid";
@import "media";